.SearchSection{
    background: transparent;
}

.searchText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.searchIcon img{
    height: 22px;
    width: 22px;
}

.searchBox {
    width: 370px;
}

.searchBox input{
    background-color: transparent;
    border: none;
    height: 40px;
    width: 100%;
}

.searchBox input:focus {
    outline: none;
}

.searchBoxLight input {
    color: black;
}

.searchBoxDark input {
    color: white;
}

.searchResult{
    position: absolute;
    width: 405px;
}

.closeSearch {
    display: none;
}

@media (max-width: 600px) {
    .searchBox {
        width: 100%;
    }

    .searchBoxClose {
        visibility: hidden;
    }

    .searchResult {
        width: 96.4%;
    }

    .closeSearch {
        display: block;
    }

    .closeSearch img {
        height: 10px;
        width: 10px;
    }

    .hideCloseSearch {
        display: none;
    }
}