@keyframes slideFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.ThirdForm {
    animation: slideFromRight 0.7s ease-out forwards;
}

.ThirdForm div {
    color: gray;
    font-size: 14px;
    margin: 15px 0;
}

.ThirdForm input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    width: 90%;
    color: white;
}

.ThirdForm input:focus {
    outline: none;
}

.signUpPassword{
    border-bottom: 1px solid gray;
    width: 90%;
    position: relative;
}

.passwordInp{
    width: 92%;
}

.passwordImage{
    cursor: pointer;
    height: 20px;
    width: 25px;
    padding-bottom: 2px;
    position: absolute;
    right: 3px;
}

.passwordFormBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.goBackBtn{
    min-width: 80px;
}

.finalSignUpBtn{
    min-width: 80px;
}

@media only screen and (width<580px) {
    .ThirdForm input{
        width: 100%;
    }

    .signUpPassword{
        width: 100%;
    }
}