.MusicControl{
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
}

.darkModeMain{
    background-color: #0f0f0f;
}

.lightModeMain{
    background-color: #E0E0E0;
    color: black;
}

.songImage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.songImage {
    min-width: 250px;
}

.imageContainer {
    position: relative;
}
.imageContainer > img:first-child{
    height: 45px;
    width: 40px;
    border-radius: 5px;
    filter: brightness(30%);
}
.musicBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.songDetail > div:first-child {
    max-width: 500px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    color: white;
}

.songDetail > div:nth-child(2) {
    max-width: 500px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    display: block; 
    color: #5d5e62;
    font-size: 12px;
}

.songDetailLight > div:first-child {
    color: black;
}

.songDetailLight > div:nth-child(2) {
    color: #616161;
    font-size: 12px;
}

.musicProgress {
    width: 100%;
    padding: 0 8px;
}

@media (height<515px){
    .MusicControl{
        height: 60px;
    }
}

@media (width<550px) {
    .songDetail > div:first-child {
        max-width: 240px;
    }
    .songDetail > div:nth-child(2) {
        max-width: 240px;
    }
}