.LeftMenuPlate{
    height: 100%;
    margin-bottom: 60px;
    color: white;
}

.lightModeMain{
    background-color: rgba(240, 240, 233, 1);
    color: #616161;
    border-right: 1px solid #E6E6FD;
}

.darkModeMain{
    background-color: #191b1f;
    color: #5d5e62;
    border-right: 1px solid rgb(38, 39, 46);
}

.mainContent{
    padding: 25px;
    height: 100%;
    margin-bottom: 60px;
    overflow-y: auto;
}

.mainContentTitle{
    margin-bottom: 10px;
    font-weight: 600;
}

.mainContentOptions div{
    cursor: pointer;
    font-weight: 700;
    padding: 8px 18px;
}

.logoImg{
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.activeOnMainContentLight{
    background-color: rgb(31, 223, 100);
    border-radius: 6px;
    color: black;
    box-shadow: 0 0 9px 7px rgba(31, 223, 100, 0.3);
}

.activeOnMainContentDark{
    background-color: rgb(31, 223, 100);
    border-radius: 6px;
    color: white;
    box-shadow: 0 0 7px 5px rgba(31, 223, 100, 0.3);
}

.mainContent{
    padding: 25px;
    height: 100%;
    margin-bottom: 60px;
    overflow-y: auto;
}

@media (height<515px){
    .mainContentTitle{
        margin-bottom: 7px;
        font-weight: 500;
    }
    
    .mainContentOptions div{
        font-weight: 600;
        padding: 4px 12px;
    }
    
    .logoImg{
        height: 16px;
        width: 16px;
        margin-right: 8px;
    }
}