.RightMusicControl{
    height: 70px;
    width: 84%;
    position: fixed;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4%;
}

.darkModeMain{
    background-color: #0f0f0f;
}

.lightModeMain{
    background-color: #E0E0E0;
    color: black;
}

.songImage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.songImage {
    min-width: 250px;
    display: flex;
    justify-content: flex-start;
}
.songImage img{
    height: 45px;
    width: 40px;
    border-radius: 5px;
}

.songDetail > div:first-child {
    max-width: 180px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    color: white;
}

.songDetail > div:nth-child(2) {
    max-width: 180px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    color: #5d5e62;
    font-size: 12px;
}

.songDetailLight > div:first-child {
    color: black;
}

.songDetailLight > div:nth-child(2) {
    color: #616161;
    font-size: 12px;
}

.musicProgress {
    width: 45%;
}

@media only screen and (width<1361px) {
    .RightMusicControl{
        width: 77%;
    }
}

@media only screen and (width<915px) {
    .RightMusicControl{
        width: 74%;
    }
}

@media (height<515px){
    .RightMusicControl{
        height: 60px;
    }
}