.GroupChat {
    margin-right: 12px;
}

.ChatIcon {
    background-color: transparent;
    border: none;
}

.ChatIcon input:focus {
    outline: none;
}

.ChatIcon img {
    height: 30px;
    width: 30px;
}

.modalHeader {
    align-items: flex-start;
    border: none;
    padding: 0 10px;
    overflow-x: auto;
}

.modalHeader::-webkit-scrollbar {
    height: 1px;
}

.modalHeader::-webkit-scrollbar-thumb {
    background: transparent;
}

.modalHeader:hover::-webkit-scrollbar-thumb {
    background: #1FDF64;
    border-radius: 4px;
}


.modalHeader:hover::-webkit-scrollbar-thumb:hover {
    background: lightgreen;
}

.modalHeader button {
    display: none;
}

.modalBody {
    max-height: 250px;
    overflow-y: hidden;
}