.GroupChat{
    margin-right: 12px;
}

.ChatIcon{
    background-color: transparent;
    border: none;
}

.ChatIcon input:focus {
    outline: none;
}

.ChatIcon img{
    height: 30px;
    width: 30px;
}

.modalHeader{
    align-items: flex-start;
    border: none;
    /* border-bottom: 1px solid gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    padding: 10px 20px;
}

.modalBody {
    max-height: 200px;
    overflow-y: scroll;
}