.SearchAlbum{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.albumSingle {
    height: 48px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.imageContainer {
    position: relative;
}

.imageContainer img:first-child{
    border-radius: 6px;
}

.duration{
    text-align: center;
    font-size: 12px;
}

.rightSection {
    margin-left: 10px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.rightSection:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.itemName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
}

.artistName {
    display: flex;
    gap: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
    font-size: 12px;
    font-weight: bold;
}

.artistNameLight {
    color: #616161;
}

.artistNameDark {
    color: gray;
}

.point {
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background-color: gray;
}

.albumType {
    display: flex;
    align-items: center;
    gap: 3px;
}