.groupMusic{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1c22;
}

/* music play - #0f0f0f 
   left section - #191b1f
   box and icon
*/
