@keyframes slideDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ProfileHome {
    padding: 10px 40px;
    width: 100%;
    animation: slideDown 1s forwards;
}

.mainContent{
    text-align: center;
}

.message{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0;
}

.buttons span{
    margin: 20px;
}