.Explore {
    /* border: solid green; */
    height: 81.3vh;
}

.exploreSection {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* border: solid red; */
    z-index: -10;
}

.sectionLeft, .sectionRight {
    overflow-y: hidden;
    height: 39.5vh;
    flex: 1;
    padding: 5px 10px;
}

.sectionRightGenres {
    overflow-y: scroll;
}

.sectionName {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
}

.sectionItems {
    overflow-y: scroll;
    height: 100%;
    padding: 5px 5px 20px 5px;
}