.PhoneNav{
    display: flex;
    justify-content: center;
    /* border: solid pink; */
}

.openMenu{
    height: 25px;
    width: 25px;
}

.closeMenu{
    height: 20px;
    width: 20px;
}

.rotate {
    animation: rotateAnimation 0.5s linear;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}