.Members{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    scrollbar-color: blue;
    cursor: pointer;
}

.MembersLight .memberName {
    color: black;
}

.MembersDark .memberName {
    color: white;
}

.singleMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    min-width: 100px;
}

.profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.memberName {
    padding: 2px 7px;
    border-radius: 7px;
    text-align: center;
}

.circle{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.circle0{
    background-color: red;
}
.circle1{
    background-color: green;
}