.DesktopMain {
    min-height: 100vh;
    position: relative;
}

.DesktopMainLight{
    background-color: #F1F2ED;
}

.DesktopMainDark {
    background-color: #1a1c22;
}

.mainSection {
    width: 100%;
    position: absolute;
}
